
<div class="">
    <div class="">
      <app-sidebar></app-sidebar>
    </div>

    <div class="flex-grow-1 content-container" style="margin-top: 10%;">
      
      <div class="row" style="margin-top:10px;">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4"><i class="fa fa-warning" style="font-size: 100px;margin-left: 40%;--bs-warning: #ffc107;--bs-warning-rgb: 255,193,7;color: rgb(218,141,24);"></i></div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">Pagina en Construcción</h1>
            <p class="text-center">Estamos&nbsp; trabajando en estos módulos</p>
        </div>
    </div>

      
    </div>
    

  
  </div>


