<div>
  <!-- Sidebar -->
  <div class="pb-3">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Contenido principal -->
  <div class="p-5 p-sm-5" lang="es">
    <div class="container-fluid">
      <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">{{ config.listTitle }}</h5>
            <button class="btn btn-success" (click)="onAddNew()">
              <i class="bi bi-plus"></i> Agregar {{ config.singularName }}
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table #dataTable class="table table-striped table-hover">
              <thead>
                <tr></tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
