.table-contracts th,
.table-contracts td {
  white-space: normal; /* Permite que el texto se ajuste en varias líneas */
  word-wrap: break-word; /* Ajusta el texto largo */
  text-align: left; /* Alinea el texto a la izquierda */
}

.table-contracts td.text-wrap {
  max-width: 300px; /* Ajusta el ancho máximo de la celda */
}

.table-contracts th {
  font-weight: bold;
}

.table-contracts {
  table-layout: fixed; /* Fija el ancho de las columnas */
}
   
   
  
  .opacity-50 {
    opacity: 0.5;
  }
  
  /* Estilos para botones */
  .btn {
    padding: 4px 8px; /* Reducir el padding */
    font-size: 12px; /* Reducir el tamaño de la fuente */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  }
  

  
  .required-asterisk {
    color: red;
  } 